@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
  color: white;
}
:focus{
  box-shadow: none;
  opacity: 1;
  font-weight: 400;
  font-style: normal;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction:column;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction:column;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

::-webkit-scrollbar {
  width: 7px;
  height: 10px;
  background: #161616;
}

::-webkit-scrollbar-thumb {
  background: rgb(250, 204, 21);
  border-radius: 0.3rem;
}

@media (max-width: 450px) {
  ::-webkit-scrollbar-thumb {
    width: 15%;
  }
}